

# Directories
Packages
node_modules
build
serve
.mypy_cache
types
lints

# Files
darklua-sourcemap.json
wally-sourcemap.json
npm-sourcemap.json
wally.lock

# File types
*.lock
*.gitconfig
*.rbxl
*.rbxlx
*.lock

